canvas {
  background-color: #003366;
  border: solid 2px #00F;
  border-radius: 4px;
}

.navbar .pull-right {
  margin-right: 60px !important;
}

.ui-pnotify-history-container {
  right: 20px !important;
}

body {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 940px;
}

#singleplayer {
  label {
    margin-bottom: 10px;
  }
  .left {
    float: left;
    width: 320px;
    tr td:last-child {
      border-left: none;
    }
  }
  .right {
    margin-left: 340px;
  }
  .code-header {
    h4 {
      display: inline;
    }
  }
  .CodeMirror {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 13px
  }
}

#multiplayer {
  .controls {
    margin-top: 0px;
    .description {
      float: right;
      margin-top: 5px;
    }
    .progress {
      margin-top: 10px;
    }
  }
  #game-boards {
    list-style-type: none;
    position: relative;
    margin: 0px;
    h2 {
      font-size: 1.5em;
      line-height: .5em;
      margin-bottom: 5px;
    }
    li {
      float: left;
      padding-left: 5px;
      padding-right: 5px;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
    }
  }
}

.btn-group {
  .btn {
    margin-bottom: 0px;
  }
  .caret {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.dropdown-menu {
  padding: 10px;
  .fps-control {
    width: 100%;
  }
  .moves-to-skip {
    height: 30px;
    width: auto;
  }
}

.input-append {
  margin-bottom: 0px;
}

.progress {
  margin-bottom: 10px;
}

.progress .bar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.table th.text-right, .table td.text-right {
  text-align: right;
}

.alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.CodeMirror-focused .cm-matchhighlight, {
  background-color: rgba(184, 223, 220, 0.5);
}

div.CodeMirror span.CodeMirror-matchingbracket {
  background-color: rgba(184, 223, 220, 0.5);
  color: black !important;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
  background-color: rgba(223, 118, 98, 0.49);
  color: black !important;
}
